.spinner {
  margin-top: 200px;
  margin-left: 700px;
  text-align: center;
}

.nav-bar {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // border-bottom: #8080802e solid 1px;
  // padding-bottom: 11px;
  // padding-top: 2px;
   margin: auto;
  width: 2000px;
}

.fa-nav {
  font-size: 30px;
  color: pink;
  border-radius: 100px;
  padding: 5px;

}

.fa-nav:hover {
  background-color: lightgray;
}



// .search-bar {
//  position: relative;
// }

// .fa-search-icon{
//   position: absolute;
//   top: 9px;
//   left: 14px;
//   color: #808080;
//   font-size: 23px;
//   cursor: pointer;
// }

// .search-bar-content {
//   background-color: #d3d3d352;
//   border-radius: 4px;
//   padding: 9px 432px 9px 48px;
//   border: none;
//   font-size: 17px;
//   font-weight: 600;
//   box-sizing: border-box;
// }

.user-name{
  border-radius: 100px;
  padding: 5px;
  display: flex;
  text-decoration: none;
}

.nav-profile {
  // padding: 2px;
  width: 38px;
  height: 38px;
}

.nav-displayname {
  padding-left: 2px;
  font-family: sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  // font-weight: lighter;
  color: gray;
}

.user-name:hover{
  background-color: lightgray;
}


.logout-button {
  padding: 14px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  // font-weight: lighter;
  border: none;
  color: gray;
 }

 .logout-button:hover {
   background-color:lightgray;
 }
