/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 .login-signup {
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 92px;
 }
 .modal-background {
    background-image: url("https://s.pinimg.com/webapp/style/images/bg_multi_case_grid_no_text_white_55_percent-2000ab22.jpg");
    position: fixed;
    top: 0;
    /* margin-top: 34px; */
    bottom: 0;
    right: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 1;
}

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 body {
     font-family: 'Abel', sans-serif;
   }

  .content {
    height: 100%;
  }

  .map {
    width: 500px;
    height: 500px;
    float: left;
    position: relative;
  }

  .right-half {
    width: 400px;
    margin-left: 50px;
    margin-top: 40px;
    height: 480px;
    overflow-y: scroll;
    padding: 0 20px 20px 20px;
  }

  .right-half.bench-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .index-item-info {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .index-item-category {
    font-weight: bold;
  }

  .index-item-copy {
    margin-left: 15px;
  }

  header {
    margin-left: 5%;
  }

  .new-bench-button {
    margin: 5px;
  }

  .button-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .login-form-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    z-index: 10;
  }

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
  }

  .login-input {
    margin-left: 20px;
  }

  .login-form-box {
    outline: 1px solid black;
    padding: 20px;
    z-index: 10;
    background: white;
}

form {
    display: block;
    margin-top: 0em;
}

  .header-link {
    text-decoration: none;
    color: black;
  }

  .session-submit {
    /* text-transform: capitalize; */
  }
